In [1]:
import pandas as pd

In [2]:
dataframe=pd.read_csv('transactions.csv')
dataframe

,date,sender,raw_message,amount,txn_type,merchant
0,2025-11-23 16:30:03,AX-SBI-S,Payment of Rs.8560.00 to FLIPKART successful. ...,8560.0,unknown,FLIPKARTSUCCESSFULUPIID98453115YBL
1,2025-11-09 08:21:56,AX-KOTAKBNK-S,"Recharge successful Rs.16992, enjoy data benef...",16992.0,unknown,UNKNOWN
2,2025-11-05 19:29:53,AX-SBI-S,"Recharge successful Rs.5528, enjoy data benefits.",5528.0,unknown,UNKNOWN
3,2025-11-28 04:38:20,AX-ICICIBNK-S,A/c *9745 debited Rs. 1732.00 to NEHA via UPI:...,1732.0,debit,NEHAVIAUPI502358IBL
4,2025-11-30 11:00:09,AX-HDFCBNK-S,A/c *9745 credited Rs. 19622.00 from PRAVEEN. ...,19622.0,credit,UNKNOWN
...,...,...,...,...,...,...
247,2025-10-30 06:55:31,AX-ICICIBNK-S,A/c *9745 debited Rs. 17887.00 to ARJUN via UP...,17887.0,debit,ARJUNVIAUPI839759AXL
248,2025-11-25 16:05:22,AX-SBI-S,A/c *9745 credited Rs. 3977.00 from BALAJI. UP...,3977.0,credit,UNKNOWN
249,2025-11-19 00:54:25,AX-HDFCBNK-S,Payment of Rs.3163.00 to FLIPKART successful. ...,3163.0,unknown,FLIPKARTSUCCESSFULUPIID98457691AXL
250,2025-11-16 10:27:08,AX-SBI-S,"Recharge successful Rs.340, enjoy data benefits.",340.0,unknown,UNKNOWN
251,2025-11-21 08:57:11,AX-PNB-S,"Recharge successful Rs.904, enjoy data benefits.",904.0,unknown,UNKNOWN

In [3]:
for i in pd.unique(dataframe['sender']):
    print(f"{i}");

AX-SBI-S
AX-KOTAKBNK-S
AX-ICICIBNK-S
AX-HDFCBNK-S
AX-INDBNK-S
AX-AXISBNK-S
AX-PNB-S

In [4]:
dataframe=dataframe[dataframe['merchant']!='UNKNOWN']
dataframe=dataframe[dataframe['txn_type']!='unknown']

In [5]:
dataframe[dataframe['merchant']=='MR']['raw_message']

Series([], Name: raw_message, dtype: object)

In [6]:
dataframe['merchant']=dataframe['merchant'].apply(lambda x: x.split('UPI')[0])

In [7]:
def cleaning_merchant(x: str):
    # If 'LINKEDTOVPA' is present, take the part after it
    parts = x.split('LINKEDTOVPA')
    if len(parts) > 1:
        return parts[1].strip()
    else:
        return x.strip()

In [8]:
dataframe['merchant'] = dataframe['merchant'].apply(cleaning_merchant)

In [9]:
pd.unique(dataframe['merchant'])

array(['NEHAVIA', 'ANITAVIA', 'BALAJIVIA', 'RAHULVIA', 'ARJUNVIA',
       'PRAVEENVIA', 'MOHITVIA'], dtype=object)

In [10]:
def get_bank_name(x: str):
    parts = x.split('-')
    if len(parts) > 1:
        return parts[1].strip()
    else:
        return None

In [11]:
dataframe['Bank']=dataframe['sender'].apply(get_bank_name)

In [12]:
dataframe['Bank'].unique()

array(['ICICIBNK', 'HDFCBNK', 'KOTAKBNK', 'SBI', 'AXISBNK', 'INDBNK',
       'PNB'], dtype=object)

In [13]:
dataframe=dataframe[dataframe['Bank']!=None]

In [14]:
dataframe.to_csv('transactions_cleaned.csv')